<!DOCTYPE html>
<html>
<head>
	<link href="/css/final.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div class="left">
		<input type ="Button" value="Draw" onClick="makeCircuit()">
	</div>
	 
	<canvas id='c' style = 'position: absolute; left: 100px; top: 0px;'></canvas>

	<script src='/js/final.js'></script>
</body>


</html>

