<!DOCTYPE html>
<html>
<head>
	<link href="/css/final.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<canvas id='c' style = 'position: absolute; left: 0px; top: 0px;'></canvas>
	<script src='/js/final.js'></script>

</body>


</html>

